name: Formatting
permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest
    
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@6d9817901c499d6b02debbb57edb38d33daa680b # stable
        with:
          components: rustfmt
      
      - name: Check formatting
        run: cargo fmt --all --check
